<h1>Book A room</h1>
<p>Input room data</p>
<form style="border: red solid 1px;" method="POST" action="/booking/sucess">
<label>numOfP</label><input id="NumOfP" type="text" name="NumOfP"><br>
<label>type</label>
<select id="type" name="type">
<option value="basic">basic</option>
<option value="party-suite">paty-suite</option>
<option value="royal">royal</option>
</select><br>
<button type="submit">submit</button>
</form>